[2017-03-28 20:05] lintool opened #1 "Documentation for end-to-end training on S&M model on TrecQA data"
Data should go into this repo: https://github.com/lintool/Castor-data

Instructions should be at a sufficient level of detail that I can copy/paste into my shell and replicate some reasonable facsimile of the original model.

[2017-03-30 20:27] lintool opened #4 "High level-documentation on setting up dev environment"
We need high-level documentation to make sure everyone's environment is sync'ed. For example:
+ Python 3.5 or 3.6?
+ What version of PyTorch to install
+ Basically installation instructions on different OS (Mac for me)
+ etc

[2017-03-30 20:49] snapbug commented on #4
Using docker (or such) completely negates this issue, once the docker image is created.

[2017-04-04 19:46] lintool opened #8 "Figure out why end-to-end QA system with SM model sucks"
According to @rosequ the end-to-end QA system has lower accuracy than just using idf passage scorer. This makes no sense. We need to figure out why.

[2017-04-04 19:49] lintool opened #9 "Replicate some RNN model for learning PyTorch"
I propose we replicate this paper:
https://arxiv.org/abs/1606.05029

Ferhan can help us if we run into any issues.

[2017-04-04 21:18] lintool opened #10 "Reimplement NCE on SM model"
NCE = Noise Contrastive Estimation
http://dl.acm.org/citation.cfm?id=2983872

Use our SM model has the building block.

[2017-04-07 11:06] lintool opened #12 "Reimplement Kim's sentence classification model"
See https://arxiv.org/abs/1408.5882
Helpful post: http://www.wildml.com/2015/12/implementing-a-cnn-for-text-classification-in-tensorflow/

[2017-04-07 13:58] gauravbaruah commented on #8
- The external overlap features used by the model are necessary for improved performance (~0.75 MAP).
- These overlap features were computed before training the model and were _normalized_ before saving to file. During training these saved normalized features were loaded in during model training.
- **Issue:** During deployment, even though we compute overlap feaures for candidate answers, we have

[2017-04-07 14:00] HTAustin commented on #8
Workaround 3: Normalize external features with TrecQA QA pairs features.

[2017-04-07 14:01] lintool commented on #8
Let's implement **workaround 1**.

I'd like two conditions:
+ Anserini + `IdfPassageScorer`
+ Anserini + `IdfPassageScorer` + sm ranker

Please report e2e RBP numbers on TrecQA dev set.

[2017-04-07 21:14] lintool opened #13 "SM model: backprop to word embeddings"
According to https://arxiv.org/abs/1510.03820 and other places, "non-static" word-embeddings are a win. We should adapt our implementation of the SM model to do so.

[2017-04-09 16:54] HTAustin commented on #12
I just found there are some repo has reproduced this model:
https://github.com/Shawn1993/cnn-text-classification-pytorch

[2017-04-09 18:51] lintool commented on #12
I also found this:
https://github.com/harvardnlp/sent-conv-torch

It's in (Cuda) Torch, but seems to be more complete.

[2017-04-10 15:12] gauravbaruah commented on #1
Can we close this issue? This issue of course might repeat for each model/dataset. If we are going to change the layout of the repo, then this shifts to the component that links everything together.

[2017-04-14 12:50] lintool opened #15 "Reimplement MP-CNN model in PyTorch"
Now that we have https://github.com/castorini/MP-CNN-Torch integrated into Castorini - it would be nice to have a PyTorch implementation of the model.

@gauravbaruah it occurs to me that MP-CNN does not have any of the issues associated with SM re: idf feature. re: #8

[2017-04-17 00:44] lintool commented on #1
Closing.

[2017-04-17 00:44] #1 closed

[2017-04-17 00:46] lintool opened #18 "Rename sm_model to sm_cnn_model"
Might want to rename sm_model to sm_cnn_model to be consistent with @Jeffyrao 's impl?
https://github.com/castorini/SM-CNN-Torch

[2017-04-18 14:44] lintool commented on #9
@salman1993 bumping this issue - let's get your initial implementation merged in?

[2017-04-18 16:33] lintool commented on #18
Or even just `sm_cnn`?

[2017-04-18 20:27] gauravbaruah commented on #18
@rosequ @salman1993 How might the renaming affect the anserini e2e connection? Are there any hardcoded statements that will need to be addressed for this change?

[2017-04-19 20:48] tuzhucheng commented on #15
I'll take this task.

[2017-04-20 18:49] lintool commented on #8
Okay, we know the reason why now - it's an issue of feature normalization. Closing issue.

[2017-04-20 18:49] #8 closed

[2017-04-20 18:51] lintool commented on #9
We have an initial implementation merged in as part of #20
Closing.

[2017-04-20 18:51] #9 closed

[2017-04-24 19:54] lintool commented on #18
@gauravbaruah bumping this issue again. to be consistent with other models that we've merged in, should we rename to `sm_cnn`?

[2017-05-04 04:58] rosequ commented on #18
This issue is resolved. Can we close it now?

[2017-05-04 11:22] #18 closed

[2017-05-29 14:52] lintool opened #25 "Port SM model over to GPU"
Current implement runs on CPU - let's port it over the GPU.

[2017-06-16 14:37] lintool opened #27 "SM model: wikiQA"
Opening issue for @gauravbaruah to keep track of progress on SM model over wikiQA.

[2017-06-21 13:57] lintool commented on #15
Hi @tuzhucheng - while you are working on this port, can you please look at the following:

There are a few aspects of Hua's EMNLP model that isn't symmetric:

+ See Figure 3. Building Block A does max/min/mean pooling, while Building Block B only does max/min pooling. Add mean pooling to B.
+ For Algorithm 1 (horizontal comparison), it doesn't compare on Building Block B. Add that.
+ Alg 1 and Al

[2017-06-21 14:48] tuzhucheng commented on #15
Sounds good!

[2017-06-22 12:15] rosequ opened #30 "SM model: different result each time - need integration testing framework"
I ran the `sm_cnn` model as it is in the master branch and I get different results each time I run it:

Run | MAP      | MRR
----|---------|-----
1     | 0.7476  | 0.8126
2    | 0.7289  | 0.8006
3    | 0.7566  | 0.8175

- I started with a fresh `.cache` before the 1st and 3rd run (although it wasn't really necessary).

[2017-06-26 16:01] lintool commented on #30
Adding @gauravbaruah @tuzhucheng @HTAustin to this thread - we need some sort of integration testing framework...

[2017-06-30 20:16] tuzhucheng opened #31 "Kim's sentence classification model: Upgrade to Python 3"
Update code for Kim's sentence classification model to use Python 3 instead of Python 2.

[2017-07-11 14:43] tuzhucheng commented on #15
Just an update on this issue, I've re-implemented the original MP-CNN paper. And getting these results on the SICK dataset compared with the results reported in the paper.

| Implementation        | Pearson's r           | Spearman's rho  |
| ------------- |:-------------:| -----:|
| Torch      | 0.8686 | 0.8047 |
| PyTorch      | 0.8154      |   0.7328 |

There are several variations in the curre

[2017-07-12 14:11] hohoCode commented on #15
Sometime L2 loss may not be necessary since it could be too strong.

[2017-07-12 14:52] tuzhucheng commented on #15
Yep I actually meant mini-batch :)

Here are the latest numbers for SICK. As a part of #30, going to try to use a integration framework to ensure these numbers are replicable.

Implementation | Pearson's r | Spearman's rho
-- | -- | --
Torch | 0.8686 | 0.8047
PyTorch | 0.868768 | 0.807172

Currently trying to adjust hyperparameters for training MSRVID properly.

[2017-07-19 04:41] tuzhucheng commented on #30
This is fixed in #34

[2017-07-19 13:42] tuzhucheng commented on #30
Hi @rosequ, sorry, do you mind re-opening this issue. Looks like the fix is only for internal consistency, not external consistency - we also still need the integration testing framework.

[2017-07-30 00:11] lintool commented on #31
Merged.

[2017-07-30 00:11] #31 closed

[2017-08-26 17:46] lintool opened #39 "simple_qa_rnn cleanup"
@salman1993 Given that we have https://github.com/salman1993/BuboQA do we still need `simple_qa_rnn/` here? If not let's clean up so we don't get confused... (send PR to remove?)

[2017-08-28 00:21] rosequ opened #40 "Kim CNN: Early Stop"
Currently the Kim CNN model runs until the user explicitly stops training. Stop training after there are no improvements in validation accuracy, say over 5 iterations.

[2017-08-28 00:23] lintool commented on #12
@Impavidity should we close this issue?

[2017-08-29 18:21] lintool commented on #39
Closed per #42

[2017-08-29 18:21] #39 closed

[2017-08-30 18:45] lintool commented on #12
Seems like @rosequ has verified the code as working. Closing issue.

[2017-08-30 18:45] #12 closed

[2017-08-30 18:45] #40 closed

[2017-08-30 19:12] lintool commented on #27
We want to look at wikiQA, [InsuranceQA](https://github.com/shuzi/insuranceQA), and SQuAD

assigning to @rosequ

[2017-09-01 13:22] rosequ opened #44 "Kim CNN: Tokenizer"
Replace [this](https://github.com/castorini/Castor/blob/master/kim_cnn/etc/utils.py#L4) with the PTB tokenizer.

[2017-09-02 19:39] rosequ opened #45 "Kim CNN: Non-deterministic results"
### Configuration:
__Dataset:__ SST-1
__Mode:__ multichannel
This was run on dragon with GPU:

__Accuracy:__
run1: 45.47061422889969
run2: 43.923994697304465

Something worth looking at:
https://discuss.pytorch.org/t/non-reproducible-result-with-gpu/1831

[2017-09-02 19:41] Impavidity commented on #45
I will look into it for better solution.

[2017-09-02 19:46] rosequ commented on #45
@Impavidity I will try disabling `cudann` first and see if it works

[2017-09-02 22:12] rosequ commented on #45
I repeated the experiments on TREC dataset because SST-1 takes longer to train with `cudann` disabled.
For TREC, I get the same numbers regardless of whether `cudann` is enabled or not.

[2017-09-05 02:53] lintool commented on #10
Assigning to @Victor0118 - might want to do NCE over MP-CNN instead of NCE over SM.

[2017-09-14 14:11] rosequ opened #48 "SM_CNN: Refactor"
- use torchtext
- support batching
- simplify code to support backprop over word embedding, linguistic features etc. (#13)
I'll work on this issue.

@Impavidity also noted that we are using `conv1d` but in reality we should be using `conv2d` [here](https://github.com/castorini/Castor/blob/master/sm_cnn/model.py#L39) since the input is in 2D space. It'd be interesting to compare the scores with thi

[2017-09-14 14:14] lintool commented on #48
We should think about model management as we move forward... as we start improving existing models, should we create new directories or just add command-line options to old models?

Eventually sm_model would actually mean sm_model + {our few custom features}. I don't like `sm_model_v1`, `sm_model_v2`, but we need to be able to fish out the old models easily for baseline comparisons.

[2017-09-14 14:15] Victor0118 commented on #10
Yeah. I am starting porting NCE to SM first and then move to MP-CNN or Very Deep Pairwise Word Interaction Neural Networks hopefully.

[2017-09-14 14:18] rosequ commented on #48
I was thinking about this too. I think one of the solutions is to have is to support different modes. Something like `--mode vanilla` or `--mode linguistic`.

[2017-09-14 14:20] lintool commented on #48
That would be an option, but then we need to keep some way to make sure new options don't break old code... and over time we'll accumulate cruft.

[2017-09-14 14:20] rosequ commented on #48
Right, this is only if the network remains the same. If the structure of the network varies completely, we can different pairs of _network_ and _model_ folders in the same sm_cnn folder.

[2017-09-14 15:23] Impavidity opened #49 "Implementation Comparison on conv1d and conv2d for SM and MP-CNN"
I think there is something we need to discuss on the implementation of SM-CNN and MP-CNN model.
For the convolution net, these two models use nn.conv1d and pass first argument as word_dim. However, according the [API](http://pytorch.org/docs/master/nn.html#torch.nn.Conv1d), the first argument is number of input_channels. In these two model, this argument should be set as 1. nn.conv2d should be use

[2017-09-14 15:52] tuzhucheng commented on #49
Great observation. I have one question, in NLP can each dimension in the sentence embedding be referred to as a channel? If so does this imply we can use Conv1d? However, I'm aware many tutorials by reputable people use Conv2d for text CNNs.

In Yoav Goldberg's *A Primer on Neural Network Models for Natural Language Processing* he writes:

a non-linear (learned) function over each instantiation of

[2017-09-14 15:58] Impavidity commented on #49
But as I know, most of the people followed the idea of using Conv2d for text CNNs. But if you find that the Conv1d is better on many tasks (maybe fine tuning those parameters on these two models are needed), it might be another good observation and we might find something here.

[2017-09-14 16:15] rosequ commented on #49
On a general note, when you say multiple channels, you have the same conv filters running over the input space. The word embeddings corresponding to each word, though individually are vectors, compose the input matrix and the convolution should be run over this input matrix rather than the embeddings of the word.  As per the current code, we convolve over individual vectors and not the matrix. Alt

[2017-09-14 16:26] snapbug commented on #48
I mean, I might be being an idiot and missing something, but doesn't the whole point of using version control solve this? When you want to refer to that version you can always refer to the commit id in the paper? If your experiment refers to multiple versions within the repo, then you can point to a script that will checkout the versions and run them appropriately. I mean, you should be doing this

[2017-09-14 16:27] tuzhucheng commented on #49
In computer vision, each image can have multiple channels (RGB as opposed to intensity). Each channel is a 2D tensor of numbers. This means each image is a 3D tensor, and combined with batching, the input is a 4D tensor (must). In NLP, word embedding is a 2D tensor / matrix - we can say it has 1 channel or word vector dimension number of channels (if I understand Yoav's paragraph above correctly)

[2017-09-14 16:35] lintool commented on #48
Sure, but we need to remember commit id or cut "releases". In practice, though, what happens is that experiments get run over a couple weeks on different commit points, so issues slowly creep in.

Also, if we rely on commits, we have to checkout a particular commit point to run baselines, which will be kinda a pain...

[2017-09-14 16:39] snapbug commented on #48
There's always tags that would give readable names without having to "release". The simplest solution is to run all the experiments once it's been determined what the experiments are. Either from the same commit, or writing a script that will checkout the versions that the experiment was run on.

I also don't really buy that checking out a commit is a pain, `git checkout <sha/tag>; <run experiment

[2017-09-15 22:00] Impavidity commented on #48
As mentioned by @rosequ , the word embedding is actually tuned during the training in SM model (required_grad=False is missed in the code)
Furthermore, the logsoftmax is used in sm model in the final layer, but according to the paper, softmax is used.
But which implementation is better, it still depends on experiments.

[2017-09-22 01:56] lintool opened #53 "Reimplement Convolutional RNN"
Let's try and reimplement [A Hybrid Framework for Text Modeling with Convolutional RNN](http://dl.acm.org/citation.cfm?id=3098140). It reports SST-1 at 51.67.

[2017-09-22 03:24] tuzhucheng opened #55 "Run MP-CNN on various QA datasets"
Add data loaders, trainer, and evaluator for training TrecQA data for MP-CNN per request from @Victor0118.

[2017-09-22 03:25] Victor0118 commented on #55
Thanks for you great help!

[2017-09-22 16:01] #25 closed

[2017-09-22 16:14] tuzhucheng opened #56 "Refactor MP-CNN to Use torchtext and Implement Early Stopping"
* use torchtext for MP-CNN
* implement early stopping if no improvements on validation set after a certain number of epochs

[2017-09-22 21:11] Victor0118 commented on #55
Hi, @tuzhucheng . I highly suggest you use this trec_eval script since it is provided by the TrecQA dataset and widely used. You just need to generate one gold.txt and one submission.txt and throw them to the black-box script. You can refer to SM-CNN which does the same work.

[2017-09-22 23:45] tuzhucheng commented on #55
Sure, I'll just use the subprocess module to achieve this.

[2017-09-25 13:33] lintool opened #58 "Kim CNN: replicate results on other datasets"
Replicate results on all the datasets used in the initial Kim paper, along with any other common ones...

[2017-09-25 20:31] daemon commented on #44
Where should I put stanford-postagger.jar (NLTK)?

[2017-09-25 20:38] rosequ commented on #44
@daemon I was supposed to close this issue earlier since we found out that the datasets used by KimCNN (at least TREC and SST) are PTB tokenized. If we are going to extend KimCNN to other datasets, we would have to separately tokenize the text. I suggest we add a link in the README pointing to stanford-postagger.jar.

[2017-09-25 20:44] rosequ commented on #13
The existing SM model has non-static word embeddings. Any `Variable` is backproped unless one sets the `requires_grad`  property to `False`.
For example:
[code]
Here, `static_question_embed` is static.

[2017-09-25 21:19] #44 closed

[2017-09-25 21:19] #13 closed

[2017-10-03 18:37] rosequ opened #63 "SM model for WikiQA"
Extend SM model to run on WikiQA dataset. I'll take this issue.

[2017-10-04 03:35] Victor0118 commented on #58
Result of Kim CNN on Subjectivity dataset [(Pang and Lee, 2004) ](https://www.cs.cornell.edu/people/pabo/movie-review-data/) with 10-fold CV: 92.9% (929 out of 1000)

[2017-10-04 20:21] #63 closed

[2017-10-04 20:21] #48 closed

[2017-10-04 21:29] lintool commented on #27
We have WikiQA merged in https://github.com/castorini/Castor/pull/64

[2017-10-04 22:19] rosequ opened #65 "Port E2E Code"
The e2e QA demo over free text still uses the buggy SM code. Port the code to support the new SM model.

[2017-10-04 22:38] Victor0118 commented on #58
| Setup        | rand           | static  | non-static | Multichannel|
| ------------- |:-------------:| -----:| -----:| -----:|
| Original paper      | 82.7 | 86.8 | 87.2 | 88.1 |
| Our Kim-CNN    | 76.55 | 84.78  |  86.10 | 86.16|

There is a big gap between our implementation and the original paper. Could @Impavidity check it? My implementation is [here](https://github.com/Victor0118/Castor/tre

[2017-10-05 16:31] tuzhucheng commented on #15
Following up on this from a while ago:

I've done experiments on the first and third points on the SICK dataset. For the second point, the comparison for Building Block B is done in the second part of Alg 2 using Comp U1, which is a superset of Comp U2. Hence I don't believe testing the second point is necessary besides comparing the performance of using different comparison units (point 3).

| Ve

[2017-10-06 21:39] lintool commented on #53
Implemented and merged by @daemon as part of #57

[2017-10-06 21:39] #53 closed

[2017-10-06 21:45] tuzhucheng commented on #15
Here are the results for MSRVID

| Version        | Dev Pearson's r           | Test Pearson's r  |
| ------------- |:-------------:| -----:|
| Base MP-CNN      | 0.9812  | 0.9031 |
| Symmetrical Pooling - Add mean pooling to B      | 0.9943  |  0.9062  |
| Use Comp U1 for all comparison algorithms | 0.9517  | 0.9093  |
| Use Comp U2 for all comparison algorithms | 0.9917  |  0.9100 |

MSRVID does

[2017-10-06 21:47] tuzhucheng commented on #15
On both of these datasets, adding mean pooling to Block B and using U2 individually helped with performance. I'll run some experiments on trying both of those together.

[2017-10-06 22:04] lintool commented on #55
We want to look at TrecQA, wikiQA, InsuranceQA, and SQuAD.

[2017-10-07 05:21] tuzhucheng commented on #15
Here are results combining using only Comp U2 and mean pooling, which individually helped improved performance. It turns out using both of them doesn't do better than using just Comp U2 for all comparison algorithms.

SICK

Version | Pearson's r | Spearman's rho
-- | -- | --
Base MP-CNN | 0.8751 | 0.8186
Only use mean pooling for Block B | 0.8755 | 0.8194
Only use Comp U2 for all comparison algori

[2017-10-07 10:48] lintool commented on #15
Next interesting question - what if we removed mean pooling for both block A and B? Try: max pooling only, max and min pooling.

[2017-10-07 20:39] tuzhucheng commented on #15
Here are the results using max pooling only, and max and min pooling. Compared to the base version, removing mean pooling either helped performance or worsened it by a tiny amount. On one dataset having max and min pooling was better than than just max pooling, but on the other it was not.

SICK

Version | Pearson's r | Spearman's rho
-- | -- | --
Base MP-CNN | 0.8751 | 0.8186
Max Pooling Only | 0

[2017-10-10 21:31] Impavidity commented on #45
I tried to install the pytorch from source with latest version and re-run the Kim-CNN, the training loss and accuracy is deterministic now. But the training time is much longer (takes hours) than non-deterministic version (<20min). Will update experiment results.
[code]
is used for deterministic results.

[2017-10-10 22:41] snapbug commented on #45
Out of interest how does the training time with cudnn completely disabled compare to training with cudnn deterministic?

[2017-10-11 00:02] Impavidity commented on #45
(deterministic : disable) = (6~7) : 1 in my case.

[2017-10-11 00:06] #15 closed

[2017-10-11 03:27] Impavidity commented on #45
Deterministic Algorithm for CNN.
| Dev Accuracy on SST-1 |     rand      |    static    |   non-static  |  multichannel |
|:--------------------------:|:-----------:|:-----------:|:-------------:|:---------------:|
| My-Implementation      | 42.597639| 48.773842| 48.864668   |

| Test Accuracy on SST-1|      rand      |    static    |    non-static |  multichannel |
|:--------------------------:|:

[2017-10-11 17:01] Victor0118 opened #68 "Add NCE on Kim CNN"
I am working on this.

[2017-10-11 18:27] snapbug commented on #45
So if I'm reading that speed difference correctly --

non deterministic cudnn is ~20m
disabled cudnn is ~1h (and also reproducible)
deterministic cudnn is ~6h

Interesting.

[2017-10-11 18:31] Impavidity commented on #45
deterministic cudnn is ~1h and disabled cudnn is ~6h. I do not look into the speed of non deterministic cudnn and deterministic cudnn.

[2017-10-11 18:51] lintool commented on #45
@Impavidity the results above are different from what's in the README. Can you make sure the latest figures are updated in the README?

Can you please document all the different variants (rmsprop, adagrad, etc.) and the cudnn settings, as well as the running times?

[2017-10-11 18:52] lintool commented on #58
@Impavidity can you also look at this results on SST-2 and the subjectivity dataset? Might be an issue of hyperparameter tuning?

[2017-10-12 01:52] rosequ opened #69 "LAI-CNNs for SM"
This issue is to keep track of Linguistically Annotated Input (LAI) CNNs for SM model.

[2017-10-12 01:54] #69 closed

[2017-10-12 14:00] lintool opened #70 "Port of BiLSTM-CNN-CRF for sequence labeling"
Here's [the repo](https://github.com/UKPLab/emnlp2017-bilstm-cnn-crf) from [Reporting Score Distributions Makes a Difference: Performance Study of LSTM-networks for Sequence Tagging](http://aclweb.org/anthology/D17-1035) at EMNLP 2017.

The implementation is based on Keras 1.x and can be run with Theano (0.9.0) or Tensorflow (0.12.1) as backend.

We should port it to PyTorch.

[2017-11-01 16:57] tuzhucheng commented on #56
torchtext point addressed by #76.
Early stopping point addressed by #60

[2017-11-01 16:57] #56 closed

[2017-11-10 15:31] snapbug opened #83 "Old sm-cnn has hardcoded paths that match TrecQA"
The TrecQA dataset comes in `clean-` and `raw-` versions, the sm_cnn main file loads one of these hardcoded prefixes (with a really badly named/described argument to switch between them), [code ref](https://github.com/castorini/Castor/blob/61c8c0e622caa69e8579174dee429901128dc7e1/sm_cnn/main.py#L135-L137), but other datasets (such as WikiQA) don't have these distinctions leading to an exception be

[2017-11-10 18:09] gauravbaruah commented on #83
It would be good to have a data-loader class for each dataset. Basically
the train_set, dev_set, test_set "names" need to be set up correctly to
reflect the path to respective sub-folders. TrecQA has 2 kinds of data (raw
and clean) which was an added complication. Yes this does need better
design.

On Fri, Nov 10, 2017 at 10:31 AM Matt Crane <notifications@github.com>
wrote:

[2017-11-27 17:12] Impavidity commented on #49
A fundamental problem of Conv1d and Conv2d implementation is the number of parameters. If you use Conv1d, you basically use 300x parameters than Conv2d in your MPCNN cases. And actually your implementation of "holistic_filters" is actually a "per_dim_filters" (and use more parameters than real per_dim_filters). But your implementation for per_dim_filters is correct (same as paper). So for your imp

[2017-11-27 18:59] Impavidity commented on #49
Sorry for misunderstanding. I know the implementation idea of Conv1d now. It is fine for both cases. We can directly regard it Conv1 implementation as detailed Conv2 implementation.
Close this issue.

[2017-11-27 19:00] #49 closed

[2017-11-28 02:24] lintool opened #86 "Try training models as SHARCNET"
We have access to this GPU cluster: https://docs.computecanada.ca/wiki/Graham

Let's try to see how difficult it would be to take advantage of these resources...

Assigning to @dishant-mittal

[2017-11-28 16:30] lintool opened #87 "End-to-end clean up of sm_cnn"
For @rosequ - we currently have both `sm_cnn` and `sm_cnn_modified` - we need to clean up and reconnect the e2e pipeline...

[2017-12-05 17:23] #87 closed

[2017-12-05 17:26] #45 closed

[2018-03-06 00:26] Victor0118 opened #98 "Add insuranceQA"
### Results of MP-CNN

Too slow to run original MP-CNN on insuranceQA

### Results of NCE-MP

Too slow to run original NCE-MP on insuranceQA

### Results of SM-CNN

mode | Dev | Test1  | Test2
-------------|-------------|-------------|-------------
non-static  |  0.6137 | 0.6118 | 0.6028

### Results of NCE-SM

mode | Dev | Test1  | Test2
-------------|-------------|-------------|-------------
ran

[2018-03-09 18:29] Victor0118 commented on #68
Kim CNN is not a siamese network. NCE design based on non-siamese network remains a problem.

[2018-03-09 18:29] #68 closed

[2018-03-09 19:52] Victor0118 commented on #98
\# of documents in the answer pool: 24981

   Test  | Train | Dev | Test1  | Test2
---------|-------------|-------------|-------------|-------------
\# of query | 12887 | 1000 | 1800| 1800
\# of docs per query | - | 500  | 500 | 500
 \# of relevant docs per query | 1 | 1 | 1 | 1

[2018-03-17 00:36] Victor0118 commented on #98
Model  | Dataset | \# of Parameters
---------|-------------|-------------
MP-CNN / NCE-MP| wikiQA | 15,083,702
MP-CNN / NCE-MP| trecQA | 25,035,302
MP-CNN / NCE-MP| insuranceQA | -
SM-CNN / NCE-SM| wikiQA | 2,943,835
SM-CNN / NCE-SM| trecQA | 12,437,940
SM-CNN / NCE-SM| insuranceQA | 2702935

[2018-05-16 18:34] lintool opened #99 "kim_cnn refactoring"
kim_cnn code needs refactoring:

+ Code should have some sort of generic interface for classification.
+ Data shouldn't be pulled from your private repo, should be in the `data` repo.

Other things to work on will be added as it comes up.

[2018-05-16 19:30] lintool opened #100 "Clean up top-level documentation"
Clean up top-level README:

+ Should reference the new data location https://git.uwaterloo.ca/jimmylin/Castor-data/
+ Should provide directory layout guidance, e.g.,

[code]

+ Should provide high-level overview of main dependencies, e.g., PyTorch 0.4.0, etc.

We'll keep open thread as additional items come up.

[2018-05-16 19:33] lintool opened #101 "Merge in and refactor vdpwi-nn-pytorch"
Merge in https://github.com/castorini/vdpwi-nn-pytorch under `Castor/vdpwi`:

+ Pull directly into Castor repo to preserve history.
+ Refactor to use same API as what @tuzhucheng is building for MPCNN.

[2018-05-16 19:35] lintool commented on #55
Since @tuzhucheng just submitted his thesis on MP-CNN, we'll consider this issue closed!

[2018-05-16 19:35] #55 closed

[2018-05-16 19:39] lintool opened #102 "conv_rnn refactoring"
Ref #99

`conv_rnn` and `kim_cnn` are both sentence classification models - they should share the same API, and in general be structured the same way.

@Impavidity @daemon please coordinate on this.

[2018-05-23 22:17] daemon commented on #102
#99 #101
Maybe we can have all the shared modules in `/common/` and the model-specific stuff in the current directories. For example, the user runs something like `python -m conv_rnn` from the base directory.

[2018-05-24 22:04] lintool opened #106 "High-level documentation for using MP-CNN and VDPWI (forward inference)"
@tuzhucheng Can you check in a MP-CNN model in `Caster-models/` and write up instructions on how to actually use it? I should be able to open a Python shell, copy-and-paste a few commands, and be able to run forward inference. This way I can start playing with the code...

@daemon can then follow up with the same for VDPWI.

[2018-05-25 05:30] #101 closed

[2018-05-25 16:00] lintool opened #112 "Write documentation about dragon"
@tuzhucheng

Write up documentation about using group-shared configs on dragon. Should probably go in `docs/`.

Also write up docs on how you set up the shared env, for when we need to upgrade later... for example, are we using a dedicated pytorch users? There should also be a canonical checkout of the data and models repo, right?

[2018-05-25 16:10] tuzhucheng commented on #112
Currently I made a global conda installation at `/anaconda3`. For new dragon users, all they need to do to start using Conda & PyTorch with GPU is to add the following lines to their `.bashrc`:

[code]

There is a global check-out of Castor-data and Castor-models at `/` that is owned by my own account. Maybe I can create a `castor` Linux group and add others to this group and change the permission

[2018-05-26 00:13] lintool opened #114 "Reorganized Castor-data"
Let's reorganized `Castor-data`:

+ `embeddings/` subdirectory for embeddings
+ `datasets/` subdirectory for datasets

[2018-05-26 22:37] lintool commented on #10
Closing this issue. NCE needs to be refactored to fit into the current code base structure, but that's for another issue.

[2018-05-26 22:37] #10 closed

[2018-05-26 22:39] lintool commented on #4
@tuzhucheng has been working on this - part of merge https://github.com/castorini/Castor/commit/5bf33bf8ea4a163ee54799412209ae21c68c3c79

[2018-05-26 22:39] #4 closed

[2018-05-26 22:41] lintool commented on #100
Done by @tuzhucheng as part of https://github.com/castorini/Castor/commit/5bf33bf8ea4a163ee54799412209ae21c68c3c79

[2018-05-26 22:41] #100 closed

[2018-05-27 02:32] lintool opened #118 "iPython notebook for MP-CNN"
Given our code clean-up, it should be fairly straightforward to build a demo iPython notebook for MP-CNN to walkthrough its features?

We can also try https://github.com/szagoruyko/pytorchviz to visualize e.g.,
https://github.com/szagoruyko/pytorchviz/blob/master/examples.ipynb

[2018-05-28 14:27] tuzhucheng commented on #106
The MP-CNN portion is done in #111 and improved in #119.

@daemon I think for VDPWI you just need to store the models in [Castor-models](https://git.uwaterloo.ca/jimmylin/Castor-models/tree/master) and put in the instructions for running pre-trained models similar to [MP-CNN](https://github.com/castorini/Castor/blob/master/mp_cnn/README.md).

[2018-05-28 14:56] lintool commented on #106
@daemon not's not store a not-so-good model :)
Let's store once we get up to replication numbers at least?

[2018-05-30 15:44] lintool opened #121 "Hyper-parameter tuning for VDPWI"
According to @daemon - the VDPWI works https://github.com/castorini/Castor/tree/master/vdpwi

But the effectiveness is still below STOA because the hyper-parameters haven't been tuned yet.

[2018-05-30 17:29] daemon commented on #121
The old implementation was about 0.5 points off for Pearson's r on the test set -- now it's closer to 2. The biggest changes from the old impl to now would be using torchtext and PyTorch 0.4. The model code itself hasn't changed.

[2018-06-09 21:35] tuzhucheng commented on #102
SST-1 torchtext Dataset is now available in the `datasets` module. SST-2 will be added in the next 2 weeks.

[2018-06-10 03:35] tuzhucheng commented on #99
Worked on this on #123 and #124.

[2018-06-23 15:22] tuzhucheng commented on #114
PR for `datasets`: https://git.uwaterloo.ca/jimmylin/Castor-data/merge_requests/4

[2018-06-24 04:08] tuzhucheng commented on #114
Completed by #127

[2018-06-24 04:08] #114 closed

[2018-06-25 15:38] lintool opened #128 "SM CNN refactoring to match MP CNN"
SM CNN needs to be refactored to match the API of MP CNN.

[2018-06-27 08:20] likicode commented on #121
I ran 216 tests on parameters including: decay=[0.99, 0.95], lr=[5E-4, 1E-4], batch_size=[8, 16], momentum=[0, 0.15, 0.05], rnn_hidden_dim=[128, 256, 512], epochs=[10,15,20]. In all cases, I use RMSProp for optimization according to the paper.

The best result on test set for Pearson's r is 0.8707, which is 0.0077 lower than the original result. It's achieved under this param setting: --decay 0.95

[2018-06-27 13:41] Victor0118 opened #129 "NCE CNN refactoring to match MP CNN"
Will do this after #128

[2018-06-27 13:45] Victor0118 commented on #121
Good results!
So it is very close to the original paper, right? It means VDPWI-pytorch works!
Btw, according to my experience, SGD + good `lr` is usually the best setup.
Could you send a PR to update the readme after you finish the tunning? @likicode

[2018-06-27 14:57] likicode commented on #121
I've updated the readme and sent PR. @Victor0118

[2018-07-03 05:06] likicode commented on #121
I re-ran the best parameter setting (Pearson's r 0.8707) 80 times with different random seeds. The 95% confidence interval is: [0.8625, 0.8644]. Among these 80 results, the highest Pearson'r value is 0.8710 by setting the random seed as 723.

The parameter setting is: --classifier vdpwi --lr 0.0005 --optimizer rmsprop --epochs 15 --momentum 0 --batch-size 8 --rnn-hidden-dim 256

|

[2018-07-03 05:06] likicode commented on #121
I re-ran the best parameter setting (Pearson's r 0.8707) 80 times with different random seeds. The 95% confidence interval is: [0.8625, 0.8644]. Among these 80 results, the highest Pearson'r value is 0.8710 by setting the random seed as 723.

The parameter setting is: --classifier vdpwi --lr 0.0005 --optimizer rmsprop --epochs 15 --momentum 0 --batch-size 8 --rnn-hidden-dim 256

|

[2018-07-25 07:11] alicranck opened #134 "Using pre-trained models on your own data"
Hi,

Is there a possibility to use the models with your own data (specifically the mp-cnn)? I couldn't find anything in the documentation.

Thanks!

[2018-07-25 15:29] tuzhucheng commented on #134
Hi @alicranck thanks for your interest in our project!

Yes, you can, if you pre-process the data into the same input format.

Please take a look [here](https://git.uwaterloo.ca/jimmylin/Castor-data/tree/master/datasets/sick/train) as an example.

MP-CNN takes pairs of texts as input. They are stored in `a.toks` and `b.toks` in the example above. You need an id and label for each pair, which are s

[2018-07-25 15:50] Victor0118 commented on #134
And you need to build the dataset reader and processor using torchtext for your own dataset. You can follow: https://github.com/castorini/Castor/blob/master/datasets/trecqa.py.

Then add that to https://github.com/castorini/Castor/blob/master/common/dataset.py.

We will build a doc for adding new dataset soon. Thanks!

[2018-07-25 19:43] alicranck commented on #134
Generating a.toks, b.toks files like in the sick dataset did the job. Thanks!

[2018-07-30 14:35] lintool opened #135 "Check in Twitter-URL and PIT-2015 into Castor-data"
These two new datasets should be checked into?
https://git.uwaterloo.ca/jimmylin/Castor-data

@Victor0118 please coordinate with @tuzhucheng ?

[2018-08-03 15:55] #135 closed

[2018-08-03 15:56] #134 closed

[2018-08-03 15:56] #99 closed

[2018-08-04 07:03] xyx-x opened #137 "the codes of vdpwi is not work"
I have followed the readme to setup the environment.  And I also export the PYTHONPATH of Castor in the castor virtual environment. When i use the tool of vdpwi, it exits the error("ModuleNotFoundError: No module named 'utils.relevancy_metrics'"). However, the other python file (for example: python files in the "common" directory ) can be imported successfully. I want to get some help.

[2018-08-04 19:37] tuzhucheng commented on #137
Hi @xyx-x, please run the following from the main Castor directory (and NOT from inside vdpwi) and see if it works?

[code]

You should not need to set `PYTHONPATH`. Please let me know where you saw that instruction (legacy) so I can remove it.

[2018-08-06 13:09] xyx-x commented on #137
thank you. It works. There is no instruction about setting PYTHONPATH. I met the error so i try to handle the problem with setting PYTHONPATH.

[2018-08-07 09:36] xyx-x opened #138 "other dataset trained on vdpwi"
I saw the dataset loading fixed to four dataset(sick,msrvid, trecqa, wikiqa). I wanted to know how to trained vdpwi with other datasets. what's more, how to reasonably organize the dataset. I try to copied my dataset into the file 'sick' and my embedding into the file 'GloVe', but the model trained with 0 loss. Can you give me the correct instruction?

[2018-08-07 23:50] #137 closed

[2018-08-07 23:51] tuzhucheng commented on #138
Hi, please refer to the instructions in #134. That issue is for another model, MP-CNN, but it should work the same way. If you have more questions let us know!

[2018-08-08 02:37] xyx-x commented on #138
I stored the dataset like a.toks and b.toks because i used the vdpwi with the lua version before. When i used this pytorch version, i can running the code. However, when i trained the model, the loss i got is 0. That's where the problem is.

[2018-08-08 07:26] xyx-x commented on #138
I found the key of the problem. My sim.txt contains only two values which are 0 and 5 (The value of the first 5000 lines of my sim.txt is 5, and the value of the following lines is 0.)，and the training loss is 0. When i changed the sim.txt which contains two values which are 0 and 4.5, the loss is not 0. How can i train correctly with my sim.txt?  Can you give me some instructions?

[2018-08-10 19:28] tuzhucheng commented on #138
Seems that your label is binary. How about processing your data by converting "5" to "1" so you only have 0s and 1s. Then you can take a look at https://github.com/castorini/Castor/blob/master/datasets/trecqa.py and set `NUM_CLASSES` to 2.

[2018-08-18 07:57] liudonglei opened #142 "in training sm_cnn, what the <PAD> meaning?"
$ python train.py --mode static --gpu 1
Note: You are using GPU for training
Dataset TREC    Mode static
VOCAB num 13
LABEL.target_class: 13
LABELS: ['<unk>', '2', '0', '7', '3', '1', '8', '4', '5', '9', '6', '\t', '.']
Train instance 53417
Dev instance 1148
Test instance 1517
Shift model to GPU
  Time Epoch Iteration Progress    (%Epoch)   Loss   Dev/Loss     Accuracy  Dev/Accuracy
Traceback (mos

[2018-08-18 16:46] liudonglei opened #143 "the"
so far, 2018-08-18.
the data path using in the Castor/sm_cnn/create_dataset.sh such as ''../../Castor-data/TrecQA''
is NOT match with the real path in Castor-data dir.

can you please check it?

[2018-08-23 03:15] xyx-x opened #144 "have some trouble about VDPWI"

[2018-08-23 06:50] #144 closed

[2018-09-08 15:33] lintool opened #146 "Import all datasets in Lan and Xu COLING paper"
Lan and Xu's COLING paper: http://aclweb.org/anthology/C18-1328

Explores a bunch of datasets - some of which we have in Castor already, some not. We should make sure we can run the same range of experiments as in their work.

@Victor0118 starting looking into this - @likicode can you please assist? This will feed into the VDPWI analyses that you're running.

[2018-09-13 01:56] Victor0118 commented on #143
@liudonglei You are right. Current SMCNN code needs refactoring. See https://github.com/castorini/Castor/issues/128. Welcome to create your PR to contribute!

[2018-09-27 07:12] liudonglei commented on #143
@Victor0118   Dataset path mismatch 的问题可以手动地将Castor-data/datasets下的trecqa和wikiqa目录拷贝到上层目录解决。
但是我陷入了这个问题，详见 https://github.com/castorini/Castor/issues/142
由于我对torchtext包一窍不通，琢磨不出这个</pad>标记是如何处理的，请作者们看一些这个问题。

[2018-09-27 07:17] liudonglei commented on #142
(castor) [ldl@402 sm_cnn 15:15:35] $ python train.py --mode static --no_cuda
Dataset TREC    Mode static
VOCAB num 13
LABEL.target_class: 13
LABELS: ['<unk>', '2', '0', '7', '3', '1', '8', '4', '5', '9', '6', '\t', '.']
Train instance 53417
Dev instance 1148
Test instance 1517
  Time Epoch Iteration Progress    (%Epoch)   Loss   Dev/Loss     Accuracy  Dev/Accuracy
Traceback (most recent call last)

[2018-09-27 17:58] Impavidity commented on #142
Hey @liudonglei  To my understanding, you are using your own dataset, right ?
Can you post your dataset format in this thread? It will be more easier for me to understand this issue.

[2018-09-28 09:01] liudonglei commented on #142
@Impavidity   Not my own dataset, I just try the sm_cnn model on TrecQA dataset in your Castor-date repo, My all steps follow the steps in Castor/README.md and Castor/sm_cnn/README.md

[2018-10-19 05:00] Ashutosh-Adhikari opened #153 "Fix tokenizer for reuters dataset"
Need to remove a few characters ( like `?`, `!` ) from sentences. In other words, add a relevant few delimiters.

[2018-10-20 08:59] achyudhk commented on #153
Take a look at datasets/reuters.py. Removing the special characters from the regular expression should do what you want.

[code]

[2018-11-16 08:04] SawanKumar28 commented on #142
Hi @liudonglei, were you able to resolve this issue? I am facing the same issue.

[2018-11-17 14:31] liudonglei commented on #142
Sorry, I can't, I am unfamiliar with the torchtext package this repo used.

[2018-11-26 02:04] daemon opened #164 "Use most recent version of torchtext"
Currently, we're using torchtext 0.2.* -- we should update to the next major version, 0.3.

[2018-11-26 02:07] daemon opened #165 "Fix insane memory usage when loading datasets"
@achyudhk reports that CharCNN on some dataset uses 63GB of RAM (Hydra and Dragon both have 64GB). I think a solution would be some mechanism for moving data between disk and RAM when needed?

[2018-11-26 03:09] achyudhk commented on #165
For now this is something specific to CharCNN due to the large size of the character quantized matrices. But in general I feel it's better to have a streaming approach to loading the dataset from disk and preprocessing it rather than caching all of it in memory.

[2018-11-26 04:54] Ashutosh-Adhikari commented on #165
@achyudhk , I think after 10th Dec, we can fix this issue, given that we have been using the repo for quite a while now. SG? @daemon , can you assign us to the issue?

[2018-11-28 20:27] daemon opened #166 "Update ConvRNN to use latest API"
The ConvRNN implementation doesn't use anything in `common.*`, not to mention that `getData.sh` doesn't work -- and it's bad practice, since we agreed to use `Castor-data` only.

Related: #102

[2018-12-26 12:35] liudonglei commented on #142
@rosequ
@SawanKumar28
Hi, today i try this repo again and fix this problem,
this problem come from the file trec_dataset.py to use the torchtext.data.TabularDataset. I don't know why, That maybe some bug of Python's class inheritance.
after debugging half day, I locate the file trec_dataset.py and borrow the similar code from BLOG http://mlexplained.com/2018/02/08/a-comprehensive-tutorial-to-torch

[2019-01-26 21:57] daemon opened #175 "Reduce code redundancy"
A few issues we should address:
1. Redundant [argument parsers](https://github.com/castorini/Castor/blob/master/vdpwi/__main__.py#L25) throughout the codebase. I think moving to a [hierarchical JSON config system](https://github.com/daemon/argconf/tree/master/examples) makes sense, where we have a single global configuration for all the universal settings, like the learning rate, weight decay, and

[2019-01-27 01:32] achyudhk commented on #175
For 2, no we wouldn't need two models. I did something similar for regularizing KimCNN and it's fine if we just have one model with optional regularization parameters.

[2019-02-17 16:57] AxelMueller opened #176 "Different results for different batch sizes when evaluating trained models"
Hi,
First of all, thanks for making your great code and models available.
I am currently trying out two of your models (MP-CNN and VDPWI) and noticed that when evaluating trained models (via --skip-training), different batch sizes give different results.
For example,
[code]
returns a different results than
[code]
Have your encountered this behavior before and do you know what the reasons might be?

[2019-02-17 19:19] daemon commented on #176
Hi,

Thanks for your interest, I've confirmed this issue. My guess is that the amount of padding depends on the batch size due to varying sentence lengths, and the resulting padding is not implemented as a no-op. Using a batch size of 1 should be the correct thing to do during inference (for now).

[2019-02-19 22:11] AxelMueller commented on #176
Ok, thanks for your quick reply!

[2019-02-23 10:46] daemon opened #177 "Create a simple, reproducible, out-of-the-box snapshot for doc classification paper"
The document classification paper deserves a _clean_ snapshot for reproducibility and extensibility. Readers should be able to click the link in the paper, run a few commands in the README, and reproduce the results in no time. AWD-LSTM is extremely popular (and highly cited) for this reason, as well as Honk on a lesser scale.

[2019-03-07 18:19] achyudh commented on #177
As suggested in the meeting today, let's split Castor and deal with cleaning up code for the single text sequence tasks first. It would be nice if we can have independent issues identifying all the problems we currently face with Castor

[2019-03-10 00:57] daemon opened #182 "Move document classification code into separate repo"
In preparation for the NAACL2019 camera ready and future work, @achyudh is currently working on moving the document classification models into [Hedwig](https://github.com/castorini/hedwig).

[2019-03-10 05:18] daemon opened #183 "Improve KimCNN results"
One and a half years later, I'm finally getting better results on KimCNN using the original hyperparameters in the paper. There are a few discrepancies with the PyTorch and Castor implementation:

- Kim used an Adadelta Rho of 0.95 instead of 0.9. The paper did not mention this.
- Kim used Xavier uniform initialization for the convolution layers. The paper did not mention this.
- Kim did not use t

[2019-03-10 08:29] daemon commented on #183
Seems like I spoke too early. Results fluctuate from high 85s to 87s.

[2019-03-10 17:15] Victor0118 commented on #146
This is done.

[2019-03-10 17:15] #146 closed

[2019-03-10 17:15] Victor0118 commented on #98
This is done with the NCE paper.

[2019-03-10 17:15] #98 closed

[2019-04-07 13:22] lintool opened #185 "remove code that's been moved into hedwig"
As the title suggests...

[2019-04-08 00:07] #185 closed

[2021-11-15 09:29] noooob-coder opened #187 "How to SET MPCNN on MY own dataset"
I want to set mpcnn on stsbenchmark